@model GestionFacturas.Modelos.EditorFactura
          
@*
    Esta plantilla de bootstrap se ha obtenido de:
    http://www.prepbootstrap.com/bootstrap-template/simple-invoice

    Licencia MIT:
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
    IN THE SOFTWARE.

*@

<div class="form-horizontal">
  
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdUsuario)
    @Html.HiddenFor(model => model.FormatoNumeroFactura)
    

    <div class="row">
        <div class="col-xs-12">
          <hr>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Datos de la factura</div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.SerieFactura, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.SerieFactura, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">*</span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SerieFactura, "", new { @class = "text-danger" })
                                    </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.NumeracionFactura, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.NumeracionFactura, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">*</span>
                                    </div>
                                         @Html.ValidationMessageFor(model => model.NumeracionFactura, "", new { @class = "text-danger" })
                                    </div>
                            </div>

                           <div class="form-group">
                                @Html.LabelFor(model => model.FechaEmisionFactura, htmlAttributes: new { @class = "control-label col-md-4" })
                               <div class="col-md-8">
                                   <div class="input-group">
                                       @Html.EditorFor(model => model.FechaEmisionFactura, "Fecha")
                                       <span class="input-group-addon">*</span>
                                   </div>
                                     @Html.ValidationMessageFor(model => model.FechaEmisionFactura, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FechaVencimientoFactura, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    
                                        @Html.EditorFor(model => model.FechaVencimientoFactura, "Fecha")
                                        @Html.ValidationMessageFor(model => model.FechaVencimientoFactura, "", new { @class = "text-danger" })
                                    </div>
                            </div> 
                            <div class="form-group">
                                @Html.LabelFor(model => model.EstadoFactura, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @*<div class="input-group">*@
                                        @Html.EnumDropDownListFor(model => model.EstadoFactura, htmlAttributes: new { @class = "form-control" })
                                      
                                        @*<span class="input-group-addon">*</span>
                                    </div>*@
                                @Html.ValidationMessageFor(model => model.EstadoFactura, "", new { @class = "text-danger" })
                                     </div>
                            </div>
                         
                          
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Forma de pago</div>
                        <div class="panel-body">
                            

                            <div class="form-group">
                                @Html.LabelFor(model => model.FormaPago, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EnumDropDownListFor(model => model.FormaPago, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.FormaPago, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FormaPagoDetalles, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.FormaPagoDetalles, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.FormaPagoDetalles, "", new { @class = "text-danger" })
                                </div>
                            </div>          

                        </div>
                    </div>
                </div>             
           
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Datos del emisor</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdVendedor, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.IdVendedor, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.IdVendedor, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorNombreOEmpresa, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorNombreOEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorNombreOEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorNumeroIdentificacionFiscal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorNumeroIdentificacionFiscal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorNumeroIdentificacionFiscal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorDireccion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorDireccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorDireccion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorLocalidad, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorLocalidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorLocalidad, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorProvincia, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorProvincia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorProvincia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorCodigoPostal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.VendedorCodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorCodigoPostal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.VendedorEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                              
                                    @Html.EditorFor(model => model.VendedorEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.VendedorEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Datos del cliente</div>
                        <div class="panel-body">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IdComprador, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.IdComprador, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IdComprador, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorNombreOEmpresa, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorNombreOEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorNombreOEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorNumeroIdentificacionFiscal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorNumeroIdentificacionFiscal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorNumeroIdentificacionFiscal, "", new { @class = "text-danger" })
                                </div>
                            </div>

                           

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorDireccion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorDireccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorDireccion, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorLocalidad, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorLocalidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorLocalidad, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorProvincia, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorProvincia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorProvincia, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorCodigoPostal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorCodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorCodigoPostal, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.CompradorEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.CompradorEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.CompradorEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
             
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <td><strong>Concepto</strong></td>
                                    <td class="text-center"><strong>Cantidad</strong></td>
                                    <td class="text-center"><strong>Precio</strong></td>
                                    <td class="text-center"><strong>IVA</strong></td>
                                 </tr>
                            </thead>
                            <tbody id="invoiceLinies">                                                           
                                @Html.EditorFor(m => m.Lineas)                                
                            </tbody>
                            <tfoot>
                                <tr>
                                <td colspan="5">
                                        @Html.LinkToAddNestedForm(m => m.Lineas, "Añadir linea", "#invoiceLinies", ".invoiceLineEditor", "Descripcion", new object[] { Model.PorcentajeIvaPorDefecto })
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        
                    </div>
                </div>
                <div class="panel-heading">
                   <div class="form-group">
                        @Html.LabelFor(model => model.Comentarios, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Comentarios, new { @class = "form-control", rows = "3" })
                            @Html.ValidationMessageFor(model => model.Comentarios, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ComentarioInterno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ComentarioInterno, new { @class = "form-control", rows = "3" })
                            @Html.ValidationMessageFor(model => model.ComentarioInterno, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ComentariosPie, htmlAttributes: new {@class = "control-label col-md-2"})
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.ComentariosPie, htmlAttributes: new {@class = "form-control", rows = "5"})
                            @Html.ValidationMessageFor(model => model.ComentariosPie, "", new {@class = "text-danger"})
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.NombreArchivoPlantillaInforme, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NombreArchivoPlantillaInforme, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreArchivoPlantillaInforme, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .height {
        min-height: 200px;
    }

   .table > tbody > tr > .emptyrow {
        border-top: none;
    }

    .table > thead > tr > .emptyrow {
        border-bottom: none;
    }

    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }
</style>
