@model GestionFacturas.Website.Viewmodels.Clientes.CrearClienteViewModel

@{
    ViewBag.Title = "Crear cliente";
}
@section styles{
    @Styles.Render("~/Content/themes/base/css")
}



@section ScriptsTop {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    }

<h2>Crear Cliente</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Cliente, "EditorCliente")

    <p>
        <div class="col-md-12">
            <input type="submit" value="Crear" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
<br /><br />