@model GestionFacturas.Website.Viewmodels.Clientes.EditarClienteViewModel

@{
    ViewBag.Title = "Editar cliente";
}

@section styles{
    @Styles.Render("~/Content/themes/base/css")
    }

@section ScriptsTop {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui") 
 }

<h2>Editar cliente @Model.Cliente.NombreOEmpresa</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Cliente, "EditorCliente")  


    <p>
        <div class="col-md-12">
            <input type="submit" value="Guardar" class="btn btn-primary"/>
            
            @Html.ActionLink("Crear factura", "Crear", "Facturas", new { idCliente = Model.Cliente.Id }, new { @class= "btn btn-default" })
            
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
   <br /><br />



