@model GestionFacturas.Website.Viewmodels.Clientes.EliminarClienteViewModel

@{
    ViewBag.Title = "Eliminar cliente";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<h2>Eliminar cliente @Model.Cliente.NombreOEmpresa</h2>

<h3>Confirma que quieres eliminar las siguiente cliente:</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Cliente, "EditorCliente")


    <p>
        <div class="col-md-12">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Editar", "Editar", new { Id = Model.Cliente.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
<br /><br />

