@model GestionFacturas.Website.Viewmodels.Facturas.DetallesFacturaViewModel

@{
    ViewBag.Title = "Detalles factura";
}

<h2>Factura @Model.Factura.NumeroFactura</h2>

<div>
    @Html.DisplayFor(m => m.Factura, "VisorFactura")
</div>
<p>
   
        @Html.ActionLink("Editar", "Editar", new { id = Model.Factura.Id }, new { @class = "btn btn-primary" })

        @Html.ActionLink("Imprimir", "Imprimir", new { id = Model.Factura.Id, titulo = Model.Factura.Titulo }, new { @class = "btn btn-primary", Target = "_balnk" })    
       
        @Html.ActionLink("Lista facturas", "ListaGestionFacturas", null , new { @class = "btn btn-link" })
   
</p>
