@model GestionFacturas.Website.Viewmodels.Facturas.EditarFacturaViewModel

@{
    ViewBag.Title = "Editar factura";
}

@section styles{
    @Styles.Render("~/Content/themes/base/css")
    }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui") 

    <script src="~/Scripts/listEditor/listeditor.js"></script>
    <script src="~/Scripts/autocompletar/autocompletarCliente.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("Factura_CompradorNombreOEmpresa").autocompletarCampoCliente('@Url.Action("AutocompletarPorNombre", "Clientes")');
            $("Factura_IdComprador").autocompletarCampoCliente('@Url.Action("AutocompletarPorId", "Clientes")');
            $("Factura_CompradorNumeroIdentificacionFiscal").autocompletarCampoCliente('@Url.Action("AutocompletarPorIdentificacionFiscal", "Clientes")');
        });
    </script>
}


<h2>Editar factura @Model.Factura.NumeroFactura</h2>

@using (Html.BeginForm("Editar", (string)ViewContext.RouteData.Values["controller"], FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Factura, "EditorFactura")  


    <p>
        <div class="col-md-12">
            <input type="submit" value="Guardar" class="btn btn-primary" />
            @Html.ActionLink("Detalles", "Detalles", new { Id = Model.Factura.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
   <br /><br />



