@model GestionFacturas.Website.Viewmodels.Facturas.EliminarFacturaViewModel

@{
    ViewBag.Title = "Eliminar factura";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/listEditor/listeditor.js"></script>
}

<h2>Eliminar factura @Model.Factura.NumeroFactura</h2>

<h3>Confirma que quieres eliminar las siguiente factura:</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.Factura, "EditorFactura")


    <p>
        <div class="col-md-12">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Detalles", "Detalles", new { Id = Model.Factura.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
<br /><br />

