@model GestionFacturas.Website.Viewmodels.Facturas.EnviarFacturaPorEmailViewModel

@{
    ViewBag.Title = "Enviar factura";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
 }


<h2>Enviar factura @Model.NumeroFactura</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => m.EditorEmail, "EditorEmail")
    
    @Html.HiddenFor(m=>m.IdFactura)

<p>
    <div class="col-md-12">
        <input type="submit" value="Enviar" class="btn btn-primary" />
        @Html.ActionLink("Detalles", "Detalles", new { Id = Model.IdFactura }, new { @class = "btn btn-default" })
        @Html.ActionLink("Lista de facturas", "Index", null, new { @class = "btn btn-link" })
    </div>
</p>
}
<br /><br />


