@model GestionFacturas.Website.Viewmodels.Facturas.ImportarFacturasViewModel

@{
    ViewBag.Title = "Importar facturas";
}
@section styles{
    @Styles.Render("~/Content/themes/base/css")
}


@section ScriptsTop {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    }

<h2>Importar Facturas</h2>

@using (Html.BeginForm("Importar", (string)ViewContext.RouteData.Values["controller"], FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <ol>
            <li>Seleccionar un archvivo Excel. La primera fila debe contener los nombres de las columnas</li>
            <li>Indica en cada uno de los campos de la factura la columna del Excel que con la que se corresponde (utilizar letras)</li>
            <li>Si se introducen valores que no corresponden con las columnas del Excel se tomaran como valores por defecto de la factura</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Selecciona un archivo excel</div>
                <div class="panel-body">
                    <div class="form-group">

                        <div class="col-md-10">
                            @{
                                var idControl_NombreArchivoExcel = ViewData.TemplateInfo.GetFullHtmlFieldId("NombreArchivoExcel");
                            }
                            <div class="input-group">
                                <span class="btn btn-default btn-file input-group-addon">
                                    Selecciona una excel&hellip;
                                    <input type="file" name="ArchivoExcelSeleccionado" id="archivoExcelSeleccionado" onchange="mostrarInfoarchivoExcelSeleccionado(this)" />
                                </span>
                                @Html.TextBoxFor(model => model.NombreArchivoExcel, htmlAttributes: new { @class = "form-control", @readonly = "" })
                               
                            </div>
                            @Html.ValidationMessageFor(model => model.ArchivoExcelSeleccionado, "", new { @class = "text-danger" })
                        </div>
                        <script type="text/javascript">

                            function mostrarInfoarchivoExcelSeleccionado(input) {
                                var $input = $(input);

                                var numFiles = $input.get(0).files ? $input.get(0).files.length : 1;
                                var label = $input.val().replace(/\\/g, '/').replace(/.*\//, '');

                                $('#@(idControl_NombreArchivoExcel)').val(label);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.EditorFor(m => m.SelectorColumnasExcel, "SelectorColumnasExcelFactura")

    <p>
        <div class="col-md-12">
            <input type="submit" value="Importar" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
}
<br /><br />