@model GestionFacturas.Website.Viewmodels.Facturas.ListaGestionFacturasViewModel

@{
    ViewBag.Title = "Lista de facturas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Crear")
</p>
<table class="table">
    <tr>
        <th>
           Factura
        </th>
        <th>
           Fecha
        </th>
        <th>
           Concepto
        </th>
        <th>
            Estado
        </th>
        <th>
           BI
        </th>
        <th>
           IVA
        </th>
        <th>
           Total
        </th>
        <th>
           Cliente
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model.ListaFacturas) {
    <tr>
        <td>
            @Html.ActionLink(item.NumeroFactura, "Detalles", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEmisionFactura, "FechaCorta")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concepto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseImponible, "Moneda")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Impuestos, "Moneda")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImporteTotal, "Moneda")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompradorNombreOEmpresa)
        </td>      
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.Id }, new { @class = "btn btn-default btn-sm" })
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.Id })
        </td>
    </tr>
}

</table>
