@using GestionFacturas.Servicios
@model GestionFacturas.Website.Viewmodels.Facturas.ListaGestionFacturasViewModel
    

@{
    ViewBag.Title = "Lista de facturas";
}

@section styles{
    @Styles.Render("~/Content/themes/base/css")
}




@section ScriptsTop {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
}

@section Scripts{    
    <script type="text/javascript">
    function DescargarZip() {
        window.location = '@Url.Action("DescargarZip")?' + ParametrosBusquedaFormulario();
    }

     function DescargarExcel() {
            window.location = '@Url.Action("DescargarExcel")?' + ParametrosBusquedaFormulario();
     }

        function ParametrosBusquedaFormulario() {
            return $('#formularioBusqueda').serialize();
           
        }
</script>
}

<h2>Facturas</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Crear nueva factura", "Crear", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Descargar Zip", "DescargarZip", null, new { @class = "btn btn-default", onclick = "DescargarZip();return false;" })
        @Html.ActionLink("Descargar Excel", "DescargarExcel", null, new { @class = "btn btn-default", onclick = "DescargarExcel();return false;" })
        @Html.ActionLink("Importar facturas", "Importar", null, new { @class = "btn btn-default" })
    </div>

    <div class="panel-body">
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline", Id = "formularioBusqueda" }))
       {
        @Html.EditorFor(m => m.FiltroBusqueda, "FiltroBusquedaFactura")
       }
    </div>
</div>
      <table class="table table-striped">
            <tr>
                <th>
                    Factura
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Conceptos
                </th>
                <th>
                    Estado
                </th>
                <th>
                    BI
                </th>
                <th>
                    IVA
                </th>
                <th>
                    Total
                </th>
                <th>
                    Cliente
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.ListaFacturas)
                {
                <tr>
                    <td class="text-nowrap">
                        @Html.ActionLink(item.NumeroFactura, "Detalles", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEmisionFactura, "FechaCorta")
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <span title="@item.Conceptos">@item.Conceptos.TruncarConElipsis(50)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoFactura)
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.BaseImponible, "Moneda")
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.Impuestos, "Moneda")
                    </td>
                    <td class="text-nowrap">
                        @Html.DisplayFor(modelItem => item.ImporteTotal, "Moneda")
                    </td>
                    <td>
                       @if (item.IdComprador.HasValue)
                       {
                            @Html.ActionLink(item.CompradorNombre, "Editar","Clientes", new { id= item.IdComprador.Value }, null)
                       }
                       else
                       {
                            @Html.DisplayFor(modelItem => item.CompradorNombre)
                       }
                       
                    </td>
                    <td style="min-width:95px"> 
                        <div class="btn-group">
                            @Html.ActionLink("Editar", "Editar", new { id = item.Id },new { @class = "btn btn-primary btn-sm"})
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" style="float:none; display:inline-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    @Html.ActionLink("Enviar", "EnviarPorEmail", new { id = item.Id })
                                </li>
                                <li>
                                    @Html.ActionLink("Imprimir", "Imprimir", new { id = item.Id , titulo= "Facrura " + item.NumeroFactura})
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                }
            <tr>
                <th colspan="3">
                    
                </th>
               <th>
                   Totales
               </th>
                <th class="text-nowrap">
                    @Html.DisplayFor(m => m.TotalBaseImponible, "Moneda")                   
                </th>
                <th class="text-nowrap">
                    @Html.DisplayFor(m => m.TotalImpuestos, "Moneda")
                 
                </th>
                <th class="text-nowrap">
                    @Html.DisplayFor(m => m.TotalImporte, "Moneda")
                   
                </th>
                <th>
                    
                </th>

                <th></th>
            </tr>
        </table>
  
