@using GestionFacturas.Servicios
@model GestionFacturas.Website.Viewmodels.Facturas.ListaGestionFacturasViewModel
    

@{
    ViewBag.Title = "Lista de facturas";
}

@section scripts{    
    <script type="text/javascript">
    function DescargarZip() {
        window.location = '@Url.Action("DescargarZip")?' + ParametrosBusquedaFormulario();
    }

     function DescargarExcel() {
            window.location = '@Url.Action("DescargarExcel")?' + ParametrosBusquedaFormulario();
     }

        function ParametrosBusquedaFormulario() {
            return $('#formularioBusqueda').serialize();
           
        }
</script>
}

<h2>Facturas</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        @Html.ActionLink("Crear nueva factura", "Crear", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Descargar Zip", "DescargarZip", null, new { @class = "btn btn-default", onclick="DescargarZip();return false;" })    
        @Html.ActionLink("Descargar Excel", "DescargarExcel", null, new { @class = "btn btn-default", onclick = "DescargarExcel();return false;" })
           
    </div>

    <div class="panel-body">
       @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline", Id = "formularioBusqueda" }))
       {
           @Html.EditorFor(m => m.FiltroBusqueda, "FiltroBusquedaFactura")
       }
    </div>

            <table class="table table-striped">
                <tr>
                    <th>
                        Factura
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Conceptos
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        BI
                    </th>
                    <th>
                        IVA
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Cliente
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model.ListaFacturas)
                {
                <tr>
                    <td>
                        @Html.ActionLink(item.NumeroFactura, "Detalles", new { id = item.Id })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEmisionFactura, "FechaCorta")
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                       <span title="@item.Conceptos">@item.Conceptos.TruncarConElipsis(50)</span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstadoFactura)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BaseImponible, "Moneda")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Impuestos, "Moneda")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImporteTotal, "Moneda")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompradorNombreOEmpresa)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" })
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                    </td>
                </tr>
                }

            </table>
    
</div>
