@model GestionFacturas.Modelos.FiltroBusquedaCliente

@{
    string modelComando = string.Concat(ViewData.TemplateInfo.HtmlFieldPrefix, ".", "Comando");
 }

    <div class="form-group">
        @Html.TextBoxFor(m => m.NombreOEmpresa, new { @class = "form-control", placeholder = "Nombre o empresa" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.IdentificacionFiscal, new { @class = "form-control", placeholder = "NIF" })
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Id, new { @class = "form-control", placeholder = "Referencia" })
    </div>
    <div class="form-group">
        @Html.EnumDropDownListFor(m => m.OrdenarPorEnum, htmlAttributes: new { @class = "form-control" },optionLabel: "Ordenar por")
    </div>
   
    <input type="submit" class="btn btn-info" name="@modelComando" value="Buscar"/>
    <input id="botonMostrarTodos" type="submit" name="@modelComando" class="btn btn-default" value="Todos" />
    

<script type="text/javascript">
    
    function limpiarControlesFormulario() {
        jQuery(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio, select').val('');
        jQuery(':checkbox, :radio').prop('checked', false);
    }

    function enviarFormulario() {
        jQuery("#botonMostrarTodos").closest('form').get(0).submit();
    }

    jQuery(document).ready(function () {

        jQuery("#botonMostrarTodos").click(function () {

            limpiarControlesFormulario();
           // enviarFormulario();

        });

    });
</script>


      
