@model GestionFacturas.Modelos.SelectorColumnasExcelCliente
          

<div class="form-horizontal">
  
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
       

    <div class="row">
        <div class="col-xs-12">
          <hr>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Datos</div>
                        <div class="panel-body">

                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaNombreOEmpresa, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.LetraColumnaNombreOEmpresa, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">*</span>
                                    </div>
                                    @Html.ValidationMessageFor(model => model.LetraColumnaNombreOEmpresa, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaNumeroIdentificacionFiscal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.LetraColumnaNumeroIdentificacionFiscal, new { htmlAttributes = new { @class = "form-control" } })
                                        <span class="input-group-addon">*</span>
                                     </div>
                                        @Html.ValidationMessageFor(model => model.LetraColumnaNumeroIdentificacionFiscal, "", new { @class = "text-danger" })
                                    </div>
                            </div>   

                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaNombreComercial, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaNombreComercial, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaNombreComercial, "", new { @class = "text-danger" })
                                </div>
                            </div>   
 
                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaPersonaContacto, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaPersonaContacto, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaPersonaContacto, "", new { @class = "text-danger" })
                                </div>
                            </div>  
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaEmail, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaEmail, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaEmail, "", new { @class = "text-danger" })
                                </div>
                            </div>                       
                          
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="panel panel-default height">
                        <div class="panel-heading">Dirección</div>
                        <div class="panel-body">
                            
                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaDireccion, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaDireccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaDireccion, "", new { @class = "text-danger" })
                                </div>
                            </div>   

                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaLocalidad, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaLocalidad, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaLocalidad, "", new { @class = "text-danger" })
                                </div>
                            </div>   
                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaProvincia, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaProvincia, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaProvincia, "", new { @class = "text-danger" })
                                </div>
                            </div>   

                            <div class="form-group">
                                @Html.LabelFor(model => model.LetraColumnaCodigoPostal, htmlAttributes: new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LetraColumnaCodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.LetraColumnaCodigoPostal, "", new { @class = "text-danger" })
                                </div>
                            </div>   

                        </div>
                    </div>
                </div>             
           
            </div>
       </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
             
                <div class="panel-body">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LetraColumnaComentarioInterno, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.LetraColumnaComentarioInterno, new { @class = "form-control", rows = "3" })
                            @Html.ValidationMessageFor(model => model.LetraColumnaComentarioInterno, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .height {
        min-height: 200px;
    }
</style>
