@model EditorLineaFactura
        <tr class="editor-field invoiceLineEditor">
            <td style="width: 65%">
                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(model => model.IdFactura)
             
                <div class="form-group">
                  <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Descripcion, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>


            </td>
            <td class="text-center">

                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.Cantidad, htmlAttributes: new { @class = "form-control text-center" })
                        @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td class="text-center">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.PrecioUnitario, htmlAttributes: new { @class = "form-control text-center" })
                        @Html.ValidationMessageFor(model => model.PrecioUnitario, "", new { @class = "text-danger" })
                    </div>
                </div>

               
            </td>
            <td class="text-center">
                <div class="form-group">
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.PorcentajeImpuesto, htmlAttributes: new { @class = "form-control text-center" })
                        @Html.ValidationMessageFor(model => model.PorcentajeImpuesto, "", new { @class = "text-danger" })
                    </div>
                </div>
             
            </td>
            <td>               
                @Html.HiddenFor(x => x.EstaMarcadoParaEliminar, new { @class = "mark-for-delete" })
                <a href="#" class="btn" onclick="javascript: removeNestedForm(this, 'tr.invoiceLineEditor', 'input.mark-for-delete'); return false;">
                    Eliminar
                </a>
             </td>
        </tr>


