@using GestionFacturas.Dominio
@using GestionFacturas.Web.Framework
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model GestionFacturas.Dominio.EditorFactura
          
@*
    Esta plantilla de bootstrap se ha obtenido de:
    http://www.prepbootstrap.com/bootstrap-template/simple-invoice

    Licencia MIT:
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, 
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER 
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS 
    IN THE SOFTWARE.

*@

<div class="form-horizontal">
  
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IdUsuario)
    @Html.HiddenFor(model => model.FormatoNumeroFactura)
    

    <div class="row">
        <div class="col-xs-12">
          <hr>
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    
                <div class="card">
                    <div class="card-header">
                        Datos de la factura
                    </div>
                    <div class="card-body">
                        
                        <div class="form-group mb-2">
                            <label asp-for="SerieFactura"></label>
                            <input asp-for="SerieFactura" class="form-control">
                            <span asp-validation-for="SerieFactura" class="text-danger"></span>
                        </div>
                      
                     
                        <div class="form-group mb-2">
                            <label asp-for="NumeracionFactura"></label>
                            <input asp-for="NumeracionFactura" class="form-control">
                            <span asp-validation-for="NumeracionFactura" class="text-danger"></span>
                        </div>


                        <div class="form-group mb-2">
                            <label asp-for="FechaEmisionFactura"></label>
                            <input asp-for="FechaEmisionFactura" type="date" class="form-control">
                            <span asp-validation-for="FechaEmisionFactura" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-2">
                                <label asp-for="FechaVencimientoFactura"></label>
                                <input asp-for="FechaVencimientoFactura" type="date" class="form-control">
                                <span asp-validation-for="FechaVencimientoFactura" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group mb-2">
                                <label asp-for="EstadoFactura"></label>
                            <select asp-for="EstadoFactura" class="form-select" asp-items="Html.GetEnumSelectList<EstadoFacturaEnum>()">
                            </select>
                                <span asp-validation-for="EstadoFactura" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                    

            </div>
            <div class="col-xs-12 col-md-6 col-lg-6">
                    
                <div class="card">
                    <div class="card-header">
                        Forma de pago
                    </div>
                    <div class="card-body">
                        
                        <div class="form-group mb-2">
                                <label asp-for="FormaPago"></label>
                            <select asp-for="FormaPago" class="form-select" asp-items="Html.GetEnumSelectList<FormaPagoEnum>()">

                            </select>
                                <span asp-validation-for="FormaPago" class="text-danger"></span>
                        </div>
                        
                        
                        <div class="form-group mb-2">
                                <label asp-for="FormaPagoDetalles"></label>
                                <input asp-for="FormaPagoDetalles" class="form-control">
                                <span asp-validation-for="FormaPagoDetalles" class="text-danger"></span>
                        </div>
                     
                    </div>
                </div>
            </div>             
           
        </div>
        <br/>
            <div class="row">
                <div class="col-xs-12 col-md-6 col-lg-6 pull-left">
                    
                    <div class="card">
                        <div class="card-header">
                            Datos del emisor
                        </div>
                        <div class="card-body">
                        
                            <div class="form-group mb-2">
                                <label asp-for="IdVendedor"></label>
                                <input asp-for="IdVendedor" class="form-control">
                                <span asp-validation-for="IdVendedor" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorNombreOEmpresa"></label>
                                <input asp-for="VendedorNombreOEmpresa" class="form-control">
                                <span asp-validation-for="VendedorNombreOEmpresa" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorNumeroIdentificacionFiscal"></label>
                                <input asp-for="VendedorNumeroIdentificacionFiscal" class="form-control">
                                <span asp-validation-for="VendedorNumeroIdentificacionFiscal" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorDireccion"></label>
                                <input asp-for="VendedorDireccion" class="form-control">
                                <span asp-validation-for="VendedorDireccion" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorLocalidad"></label>
                                <input asp-for="VendedorLocalidad" class="form-control">
                                <span asp-validation-for="VendedorLocalidad" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorProvincia"></label>
                                <input asp-for="VendedorProvincia" class="form-control">
                                <span asp-validation-for="VendedorProvincia" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorCodigoPostal"></label>
                                <input asp-for="VendedorCodigoPostal" class="form-control">
                                <span asp-validation-for="VendedorCodigoPostal" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="VendedorEmail"></label>
                                <input asp-for="VendedorEmail" class="form-control">
                                <span asp-validation-for="VendedorEmail" class="text-danger"></span>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 pull-right">
                    
                    <div class="card">
                        <div class="card-header">
                            Datos del cliente
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-2">
                                <label asp-for="IdComprador"></label>
                                <input asp-for="IdComprador" class="form-control">
                                <span asp-validation-for="IdComprador" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorNombreOEmpresa"></label>
                                <input asp-for="CompradorNombreOEmpresa" class="form-control">
                                <span asp-validation-for="CompradorNombreOEmpresa" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorNumeroIdentificacionFiscal"></label>
                                <input asp-for="CompradorNumeroIdentificacionFiscal" class="form-control">
                                <span asp-validation-for="CompradorNumeroIdentificacionFiscal" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorDireccion1"></label>
                                <input asp-for="CompradorDireccion1" class="form-control">
                                <span asp-validation-for="CompradorDireccion1" class="text-danger"></span>
                            </div>
                            
                            <div class="form-group mb-2">
                                <label asp-for="CompradorDireccion2"></label>
                                <input asp-for="CompradorDireccion2" class="form-control">
                                <span asp-validation-for="CompradorDireccion2" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorLocalidad"></label>
                                <input asp-for="CompradorLocalidad" class="form-control">
                                <span asp-validation-for="CompradorLocalidad" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorProvincia"></label>
                                <input asp-for="CompradorProvincia" class="form-control">
                                <span asp-validation-for="CompradorProvincia" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorCodigoPostal"></label>
                                <input asp-for="CompradorCodigoPostal" class="form-control">
                                <span asp-validation-for="CompradorCodigoPostal" class="text-danger"></span>
                            </div>

                            <div class="form-group mb-2">
                                <label asp-for="CompradorEmail"></label>
                                <input asp-for="CompradorEmail" class="form-control">
                                <span asp-validation-for="CompradorEmail" class="text-danger"></span>
                            </div>

                            
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <td><strong>Concepto</strong></td>
                                <td class="text-center"><strong>Cantidad</strong></td>
                                <td class="text-center"><strong>Precio</strong></td>
                                <td class="text-center"><strong>IVA</strong></td>
                            </tr>
                            </thead>
                            <tbody id="invoiceLinies">
                            @Html.EditorFor(m => m.Lineas)
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    @Html.LinkToAddNestedForm(m => m.Lineas, "Añadir linea", "#invoiceLinies", ".invoiceLineEditor", "Descripcion", new object[] { Model.PorcentajeIvaPorDefecto })
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">


                    <div class="form-group mb-2">
                        <label asp-for="Comentarios"></label>
                        <textarea asp-for="Comentarios" class="form-control"></textarea>
                        <span asp-validation-for="Comentarios" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group mb-2">
                        <label asp-for="ComentarioInterno"></label>
                        <textarea asp-for="ComentarioInterno" class="form-control"></textarea>
                        <span asp-validation-for="ComentarioInterno" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group mb-2">
                        <label asp-for="ComentariosPie"></label>
                        <textarea asp-for="ComentariosPie" class="form-control"></textarea>
                        <span asp-validation-for="ComentariosPie" class="text-danger"></span>
                    </div>
                   
                    


                    <div class="form-group mb-2">
                        <label asp-for="NombreArchivoPlantillaInforme"></label>
                        <input asp-for="NombreArchivoPlantillaInforme" class="form-control">
                        <span asp-validation-for="NombreArchivoPlantillaInforme" class="text-danger"></span>
                    </div>

                </div>
               
            </div>

        </div>
    </div>

</div>
<style>
    .height {
        min-height: 200px;
    }

   .table > tbody > tr > .emptyrow {
        border-top: none;
    }

    .table > thead > tr > .emptyrow {
        border-bottom: none;
    }

    .table > tbody > tr > .highrow {
        border-top: 3px solid;
    }
</style>
