@using GestionFacturas.Website.Helpers
@{
    var currentController = (string)ViewContext.RouteData.Values[RouteDataKey.Controller];
    const string activeClass = "active";
}

<ul class="nav navbar-nav">
    <li class="@(currentController == "Inicio" ? activeClass : string.Empty)">
        @Html.ActionLink("Inicio", "Index", "Inicio")
    </li>
    <li class="@(currentController == "AcercaDe" ? activeClass : string.Empty)">
        @Html.ActionLink("Acerca de", "Index", "AcercaDe")
    </li>
    <li class="@(currentController == "Contacto" ? activeClass : string.Empty)">
        @Html.ActionLink("Contacto", "Index", "Contacto")
    </li>
</ul>