@using GestionFacturas.Website.Helpers
@{
    var currentController = (string)ViewContext.RouteData.Values[RouteDataKey.Controller];
    const string activeClass = "active";    
}
<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        <li class="@(currentController == "Facturas" ? activeClass : string.Empty)">
            @Html.ActionLink("Facturas", "Index", "Facturas")
        </li>
    </ul>
    <ul class="nav nav-sidebar">
        <li class="@(currentController == "Manage" ? activeClass : string.Empty)">
            @Html.ActionLink("Mis datos", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Mis datos" })
        </li>
        <li class="@(currentController == "Account" ? activeClass : string.Empty)">
            @Html.ActionLink("Registrar nuevo usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
    </ul>
</div>
