@page
@model CrearFacturaModel

<div class="container">
    <h2>Crear factura</h2>
    <form method="post" enctype="multipart/form-data">
    @Html.EditorFor(m => m.Editor, "EditorFactura")
    
    <p>
        <div class="col-md-12">
            <input type="submit" value="Crear" class="btn btn-primary" />
            
            <a class="btn btn-link" href="@Model.HrefCancelar">Cancelar</a>
            
        </div>
    </p>
</form>

<br /><br />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/listeditor.min.js"></script>
    <script src="~/js/autocompletarfactura.js"></script>

    <script type="text/javascript">
     
        $(document).ready(function () {

             configurarInputsAutocomplete(
               '@Url.Action("AutocompletarPorId", "AutocompletarClientes")',
               '@Url.Action("AutocompletarPorNombre", "AutocompletarClientes")',
               '@Url.Action("AutocompletarPorIdentificacionFiscal", "AutocompletarClientes")'
             );
                
        });
    </script>
    

}
