@page
@model CrearFacturaModel

<div class="container">
    <h2>Crear factura</h2>
    <form method="post" enctype="multipart/form-data">
    @Html.EditorFor(m => m.Editor, "EditorFactura")
    
    <p>
        <div class="col-md-12">
            <input type="submit" value="Crear" class="btn btn-primary" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-link" })
        </div>
    </p>
</form>

<br /><br />
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/listeditor.min.js"></script>
    
    <script type="text/javascript">
   
  
   $(document).ready(function () {
       
            function autocompleteJqueryUiCliente(idCampo, urlAutocompletar) {
                $("#" + idCampo).autocomplete({
                    source: urlAutocompletar,
                    messages: {
                        noResults: '',
                        results: function () { }
                    },
                    select: function (event, ui) {
                        completarDatosCliente(ui);
                        return false;
                    }
                }).autocomplete("instance")._renderItem = function (ul, item) {
                    return $("<li>")
                        .append("<a>" + item.Id + " - " + item.NombreOEmpresa + "<br>" + item.NumeroIdentificacionFiscal + "</a>")
                        .appendTo(ul);
                };
            }

            function completarDatosCliente(ui) {
                $("#Editor_IdComprador").val(ui.item.Id);
                $("#Editor_CompradorNombreOEmpresa").val(ui.item.NombreOEmpresa);
                $("#Editor_CompradorNumeroIdentificacionFiscal").val(ui.item.NumeroIdentificacionFiscal);
                $("#Editor_CompradorDireccion1").val(ui.item.Direccion1);
                $("#Editor_CompradorDireccion2").val(ui.item.Direccion2);
                $("#Editor_CompradorLocalidad").val(ui.item.Localidad);
                $("#Editor_CompradorProvincia").val(ui.item.Provincia);
                $("#Editor_CompradorCodigoPostal").val(ui.item.CodigoPostal);
                $("#Editor_CompradorEmail").val(ui.item.Email);
            }


            autocompleteJqueryUiCliente("Editor_CompradorNombreOEmpresa", '@Url.Action("AutocompletarPorNombre", "AutocompletarClientes")');
            autocompleteJqueryUiCliente("Editor_IdComprador", '@Url.Action("AutocompletarPorId", "AutocompletarClientes")')
            autocompleteJqueryUiCliente("Editor_CompradorNumeroIdentificacionFiscal", '@Url.Action("AutocompletarPorIdentificacionFiscal", "AutocompletarClientes")')
           
        });
        
    
       
    </script>
    

}
