@page
@model GestionFacturas.Web.Pages.Facturas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.IdUsuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.IdUsuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.SerieFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.SerieFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.NumeracionFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.NumeracionFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FormatoNumeroFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FormatoNumeroFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaEmisionFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaEmisionFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FechaVencimientoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FechaVencimientoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FormaPago)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FormaPago)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.FormaPagoDetalles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.FormaPagoDetalles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.IdVendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.IdVendedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorNumeroIdentificacionFiscal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorNumeroIdentificacionFiscal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorNombreOEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorNombreOEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorDireccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorDireccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorLocalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorLocalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorProvincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorProvincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorCodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorCodigoPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.VendedorEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.VendedorEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorNumeroIdentificacionFiscal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorNumeroIdentificacionFiscal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorNombreOEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorNombreOEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorDireccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorDireccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorLocalidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorLocalidad)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorProvincia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorProvincia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorCodigoPostal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorCodigoPostal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.CompradorEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.CompradorEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.EstadoFactura)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.EstadoFactura)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Comentarios)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Comentarios)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.ComentariosPie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.ComentariosPie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.ComentarioInterno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.ComentarioInterno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.NombreArchivoPlantillaInforme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.NombreArchivoPlantillaInforme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Factura.Comprador)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Factura.Comprador.CodigoPostal)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Factura.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
