@page "{id}"
@model DetallesFacturaModel

@{
    ViewBag.Title = "Detalles factura";
}
<div class="container">
<h2>Factura @Model.Factura.NumeroFactura</h2>

<div>
    @Html.DisplayFor(m => m.Factura, "VisorFactura")
</div>
<p>
    <a asp-page="@EditarFacturaModel.NombrePagina" asp-route-id="@Model.Factura.Id" class="btn btn-primary">Editar</a>
    <a asp-page="@EnviarFacturaPorEmailModel.NombrePagina" asp-route-id="@Model.Factura.Id" class="btn btn-primary">Enviar por e-mail</a>
    <a asp-controller="DescargasFacturas" asp-action="Descargar" asp-route-id="@Model.Factura.Id" class="btn btn-primary">Descargar</a>
    <a asp-page="@CrearFacturaModel.NombrePagina" asp-route-id="@Model.Factura.Id" class="btn btn-primary">Duplicar</a>
    <a asp-page="@ListaGestionFacturasModel.NombrePagina" class="btn btn-link">Lista de facturas</a>
       

   
</p>
</div>