@model string

<style>
img.maxwidthAndheight {
max-width:210px;
max-height:140px;
}
</style>

  @{
      string name = ViewData.TemplateInfo.HtmlFieldPrefix;
      string id = name.Replace(".", "_");
      string altId = id.Replace("Src", "Alt"); 
     }
            @Html.HiddenFor(m=>m)

            @if (String.IsNullOrEmpty(Model))
            {           
               <input type="file" name="@(name)" />
            }
            else
            { 
                  <div id="@("container_"+id)">
                        <img src="@Model" alt="Alt" class="maxwidthAndheight"/>                               
                    <br />
                    <input  type="button" id="@("button_" + id)" value="Eliminar foto"/>
                 </div>   
                
                      <script type="text/javascript">
                      // $("#@(name)changeImage").click(function () {
                          $("#button_@(id)").click(function () {
                              $("#container_@(id)").replaceWith("<input type=\"file\" name=\"@(name)\" />"); //<input id=\"@(id)\" name=\"@(name)\" type=\"hidden\" value=\"@(Model)\" />");
                              $("#@(altId)").val("");
                              $("#@(id)").val("");
                          });
                </script>
            
            }


                        
             